<section class="section">
  <div class="container">
    <div class="my-5 shadow-lg rounded bg-light">
      <h2 class="py-5 text-center">新しいアカウントを作成</h2>  
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field row align-items-center justify-content-center my-3">
          <%= f.label :email, 'メールアドレス', class: "col-3 col-md-3 col-lg-2 ps-0 ps-md-5 ps-lg-0 col-form-label" %>
          <div class="col-7 col-md-5 col-lg-4 email-form">
            <i class="icon fa-solid fa-envelope"></i>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレスを入力", class: "form-control form-control-dark ps-5" %>
          </div>
        </div>

        <div class="field row align-items-center justify-content-center my-3">
          <%= f.label :password, 'パスワード', class: "col-3 col-md-3 col-lg-2 ps-0 ps-md-5 ps-lg-0 col-form-label" %>
          <div class="col-7 col-md-5 col-lg-4 password-form">
            <i class="icon fa-solid fa-lock"></i>
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワードを入力", class: "form-control form-control-dark ps-5" %>
          </div>
        </div>

        <div class="field row align-items-center justify-content-center my-3">
          <%= f.label :password_confirmation, 'パスワード(確認用)', class: "col-3 col-md-3 col-lg-2 ps-0 ps-md-5 ps-lg-0 col-form-label" %>
          <div class="col-7 col-md-5 col-lg-4 password-form">
            <i class="icon fa-solid fa-lock"></i>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード(確認用)を入力", class: "form-control form-control-dark ps-5" %>
          </div>
        </div>

        <div class="actions text-center my-5">
          <%= f.submit "新しいアカウントを作成", class:"btn btn-info" %>
        </div>
      <% end %>

      <div class="text-center pb-5">
        <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: "px-5 btn btn-success text-dark login" %>
      </div>

      <div class="text-center pb-5">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</section>
