<section class="section">
  <div class="container">
    <div class="my-5 shadow-lg rounded bg-light">
      <h2 class="py-5 text-center">パスワードを忘れましたか?</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field row align-items-center justify-content-center my-3">
          <%= f.label :email, 'メールアドレス', class: "col-3 col-md-3 col-lg-2 ps-0 ps-md-5 ps-lg-0 col-form-label" %>
          <div class="col-7 col-md-5 col-lg-4 email-form">
            <i class="icon fa-solid fa-envelope"></i>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレスを入力", class: "form-control form-control-dark ps-5" %>
          </div>
        </div>

        <div class="actions text-center my-5">
          <%= f.submit "メールを送信", class:"btn btn-info px-5" %>
        </div>
      <% end %>

      <div class="text-center pb-5">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</section>
