<section class="section">
  <div class="container">
    <div class="text-center">
      <h1 class="my-5">記録ページ</h1>
      <button type="button" class="btn btn-info" onclick="js_add()">アニメを追加する</button>
      <%= render 'records/new' %>
    </div>
    <div class="my-5">
      <div class="d-flex bd-highlight border-bottom">
        <p class="p-2 m-0 lh-lg flex-grow-1 bd-highlight">作品名</p>
        <div class="p-2 bd-highlight">
          <%= link_to "名前順", records_path(sort_name: "true"), class: "btn btn-warning" %>
          <%= link_to "登録順", records_path(sort_update: "true"), class: "btn btn-warning" %>
        </div>
      </div>
      <% @records.each do |record| %>
        <div class="d-flex bd-highlight border-bottom">
          <div class="p-2 ms-2 flex-grow-1 bd-highlight">
            <%= link_to record.record_animationname, controller: 'animations', action: 'search', animation_name: record.record_animationname %>
          </div>
          <div class="d-flex p-1 bd-highlight">
            <%= button_to "削除", record_path(record), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger me-4" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<%= javascript_include_tag "add.js" %>
